.visual-refresh {
    /* gives each variable a default */
    --vr-header-snippet-top: 0px;
    --vr-header-snippet-server-padding: 16px;
    --vr-header-snippet-space: 230px;
    --vr-header-snippet-button-padding: 0;
    --vr-header-snippet-winbuttons: flex;

    /* adds padding to all top containers */
    div.chat_f75fb0:not(.threadSidebarOpen_f75fb0),
    main.container__133bf,
    div.chatLayerWrapper__01ae2 {
        & section.container__9293f {
            padding-right: var(--vr-header-snippet-space);
        }
    }

    /* adds padding to servers/app pages */
    div.headerBar__8a7fc.overlay__8a7fc {
        padding-right: var(--vr-header-snippet-space);

        & .tab__65d41,
        & .searchBar__1ac1c {
            -webkit-app-region: no-drag;
        }
    }

    /* no idea what this does */
    div.videoControls_bfe55a div.subtitleContainer__49508 {
        padding-right: calc(var(--vr-header-snippet-space) - 20px);

        & .toolbar__9293f {
            -webkit-app-region: no-drag;
        }
    }

    div[class*='page__'] {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        & > div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    /* shows or removes window buttons depending on variable */
    .winButtons_c38106 {
        display: var(--vr-header-snippet-winbuttons);
    }

    div[class*='base_'] {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        /* check if users have the update, vencord, or "checkpoint (discord recap) button */
        &:has(div.bar_c38106 > div.trailing_c38106 .updateIconForeground__49676),
        &:has(.vc-toolbox-btn),
        &:has([aria-label='Checkpoint']) {
            & div.chat_f75fb0,
            & div.subtitleContainer_f75fb0,
            & main.container__133bf,
            & div.chatLayerWrapper__01ae2 {
                /* adds padding to entire top container */
                & section.container__9293f {
                padding-right: calc(var(--vr-header-snippet-space) + 44px);
                }
            }

            /* checks if a thread is opened */
            & :has(div.threadSidebarOpen_f75fb0) {
                & div.chat_f75fb0,
                & div.subtitleContainer_f75fb0,
                & main.container__133bf,
                & div.chatLayerWrapper__01ae2 {
                    /* removes extra padding to search bar */
                    & section.container__9293f:not(:has([aria-label='More'])) {
                    padding-right: 8px;
                    }
                }
            }

            /* adds extra spacing to the orbs button on orbs/shop page */
            & div.container__44ee9 {
                padding-right: +44px;
            }

            /* something in code changed so this is not needed anymore. needs further testing */
            /* & div.videoControls_bfe55a .topControls_bfe55a div.toolbar__9293f {
                margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
            } */

            /* adds extra padding to chat icon on vc */
            .toolbar__49508 {
                position: fixed;
                top: 16px;
                right: 3px;
            }

            /* checks if you are searching for a server/app */
            .container_d08938,
            .innerContainer_e1147e {
                /* adds padding to search bar */
                .searchBar__1ac1c {
                    padding-right: 48px;
                    -webkit-app-region: no-drag;
                }

                /* adds extra badding if you are looking at search results */
                &:has(.headerBar__8a7fc.relative__8a7fc) {
                    .searchBar__1ac1c {
                        padding-right: calc(var(--vr-header-snippet-space) + 32px);
                    }
                }
            }
        }

        /* checks if user isn't using vencord toolbox plugin */
        &:not(:has(.vc-toolbox-btn)) {
            /* adds padding to chat icon in vc */
            .toolbar__49508 {
                position: fixed;
                top: 16px;
                right: calc(var(--vr-header-snippet-space) - 11px);
            }

            /* checks if you are searching for a server/app */
            .container_d08938,
            .innerContainer_e1147e {
                /* adds padding to search bar */
                .searchBar__1ac1c {
                    padding-right: 4px;
                    -webkit-app-region: no-drag;
                }

                /* adds extra badding if you are looking at search results */
                &:has(.headerBar__8a7fc.relative__8a7fc) {
                    .searchBar__1ac1c {
                        padding-right: calc(var(--vr-header-snippet-space) - 12px);
                    }
                }
            }
        }

        /* moves element to "front" */
        & > div[class*='content__'] {
            z-index: 0;
        }

        /* top bar variables */
        & > div.bar_c38106 {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);
            padding: 0 var(--vr-header-snippet-button-padding) 0 0;

            /* removes the title bar */
            & > .title_c38106 {
                display: none;
            }
        }

        &:has(> .notice__6e2b9) {
            & > div.bar_c38106 {
                top: anchor(top);
            }
        }

        /* inbox, help, window buttons variables */
        & div.trailing_c38106 {
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
        }

        /* checks if a thread is opened on the side of your screen */
        &:has(.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0) > .bar_c38106 {
            z-index: 0;
        }
    }

    /* checks if discord is on a server page */
    :not(:has(div[class*='page__'] > div.chat_f75fb0)) div[class*='base_'] > div.bar_c38106 {
        right: 0 !important;
    }

    /* adds padding to server list */
    ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 > div.stack_dbd263 {
        margin-top: var(--vr-header-snippet-server-padding);
    }

    /* allows these areas to be clickable */
    section.header__0b563 div.toolbar__9293f,
    section.header_c791b2 div.toolbar__9293f,
    section.header_c791b2 div.children__9293f,
    div.shop__6db1d div.shopHomeLink__80679,
    :not(.videoControls_bfe55a) div.topic__6ec1a {
        -webkit-app-region: no-drag;
    }

    /* adds padding to shop page if a toolbar is showing (unsure what the toolbar is) */
    .shop__6db1d section.showToolbar__9293f {
        padding-right: var(--vr-header-snippet-space);

        .balanceWidgetMenu__80679 {
            margin-right: 0;
        }
    }

    .div.videoControls_bfe55a .topControls_bfe55a {
        z-index: -1;
    }

    .profileThemedContainer__656be .topRow__34940 {
        align-items: end;
        padding-bottom: 0;

        & .closeAction__34940 {
            -webkit-app-region: no-drag;
        }

        & .memberNameContainer__34940 {
            padding-bottom: 12px;
        }
    }

    /* search/wishlist/orbs on shop page */
    .alignedRightContent__80679 {
      position: fixed;
      right: calc(var(--vr-header-snippet-space) - 33px);
      -webkit-app-region: no-drag;
    }

    /* orbs balance on quests page */
    .headerBarContent__1a9ce .container__44ee9 {
      position: fixed;
      right: calc(var(--vr-header-snippet-space) + 3px);
      -webkit-app-region: no-drag;
    }
    
    /* allows main thread + all/claimed quest buttons to be clickable */
    .titleWrapper__9293f {
      -webkit-app-region: no-drag;
    }

    /* fixes extra gap of group dm button on friends page */
    .toolbar__9293f .inviteToolbar__133bf {
        padding-right: 0px;
    }

    /* fixes weird padding issue when searching for an app */
    .sideFilterContainer__1eae0 {
        position: fixed;
        top: 57px;
    }

    /* allows back button on discover pages to be clickable */
    & .iconButton__8a7fc {
        -webkit-app-region: no-drag;
    }
}