.visual-refresh {
    --vr-header-snippet-top: 0px;
    --vr-header-snippet-server-padding: 16px;
    --vr-header-snippet-space: 230px;
    --vr-header-snippet-button-padding: 0;
    --vr-header-snippet-winbuttons: flex;

    div.chat_f75fb0:not(.threadSidebarOpen_f75fb0),
    main.container__133bf,
    div.chatLayerWrapper__01ae2 {
        & section.container__9293f {
            padding-right: var(--vr-header-snippet-space);
        }
    }

    div.headerBar__8a7fc.overlay__8a7fc {
        padding-right: var(--vr-header-snippet-space);

        & .tab__65d41,
        & .searchBar__1ac1c {
            -webkit-app-region: no-drag;
        }
    }

    div.videoControls_bfe55a div.subtitleContainer__49508 {
        padding-right: calc(var(--vr-header-snippet-space) - 20px);

        & .toolbar__9293f {
            -webkit-app-region: no-drag;
        }
    }

    div.page__5e434 {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        & > div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    .winButtons_c38106 {
        display: var(--vr-header-snippet-winbuttons);
    }

    div.base__5e434 {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        /* check if users have update or vencord button */
        &:has(div.bar_c38106 > div.trailing_c38106 .updateIconForeground__49676),
        &:has(.vc-toolbox-btn) {
           & div.chat_f75fb0,
           & div.subtitleContainer_f75fb0,
           & main.container__133bf,
           & div.chatLayerWrapper__01ae2 {
             & section.container__9293f {
                /* adds extra spacing to search bar on chatting pages*/
               padding-right: calc(var(--vr-header-snippet-space) + 44px);
             }
           }

            /* adds extra spacing to the orbs button on orbs page */
            & div.container__44ee9 {
              padding-right: +44px;
            }

            /* frankly no idea what this does yet */
            & div.videoControls_bfe55a .topControls_bfe55a div.toolbar__9293f {
                margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
            }
        }

        /* moves element to "front" */
        & > div.content__5e434 {
            z-index: 0;
        }

        /* top bar variables */
        & > div.bar_c38106 {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);
            padding: 0 var(--vr-header-snippet-button-padding) 0 0;

            & > .title_c38106 {
                display: none;
            }
        }

        /* no idea what this does */
        &:has(> .notice__6e2b9) {
            & > div.bar_c38106 {
                top: anchor(top);
            }
        }

        /* inbox, help, window buttons variables */
        & div.trailing_c38106 {
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
        }

        /* checks if a thread is opened on the side of your screen */
        &:has(.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0) > .bar_c38106 {
            z-index: 0;
        }
    }

    /* checks if discord is on a server page */
    :not(:has(div.page__5e434 > div.chat_f75fb0)) div.base__5e434 > div.bar_c38106 {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 > div.stack_dbd263 {
        margin-top: var(--vr-header-snippet-server-padding);
    }

    section.headerBar__80679,
    section.header__0b563 div.toolbar__9293f,
    section.header_c791b2 div.toolbar__9293f,
    section.header_c791b2 div.children__9293f,
    :not(.videoControls_bfe55a) div.topic__6ec1a {
        -webkit-app-region: no-drag;
    }

    .shop__6db1d section.showToolbar__9293f {
        padding-right: var(--vr-header-snippet-space);

        .balanceWidgetMenu__80679 {
            margin-right: 0;
        }
    }

    .div.videoControls_bfe55a .topControls_bfe55a {
        z-index: -1;
    }

    .profileThemedContainer__656be .topRow__34940 {
        align-items: end;
        padding-bottom: 0;

        & .closeAction__34940 {
            -webkit-app-region: no-drag;
        }

        & .memberNameContainer__34940 {
            padding-bottom: 12px;
        }
    }

    /* search/wishlist/orbs on shop page */
    .alignedRightContent__80679 {
      position: fixed;
      right: calc(var(--vr-header-snippet-space) - 36px);
      -webkit-app-region: no-drag;
    }

    /* orbs balance on quests page */
    .headerBarContent__1a9ce .container__44ee9 {
      position: fixed;
      right: var(--vr-header-snippet-space);
      -webkit-app-region: no-drag;
    }

    /* vc open chat icon if update or vencord button is visible*/
    .toolbar__49508 {
      position: fixed;
      top: 16px;
      right: 0px;
    }
    
    /* vc open chat icon if above isnt visible */
    div.base__5e434:not(:has(vc-toolbox-btn)) {
      .toolbar__49508 {
        right: calc(var(--vr-header-snippet-space) - 12px);
      }
    }
    
    /* fix main thread button */
    .titleWrapper__9293f {
      -webkit-app-region: no-drag;
    }
}
