.visual-refresh {
  --custom-app-top-bar-height: 0 !important;

  div[class^="base_"] {
    & > div.bar_c38106 {
      display: none;
    }
  }

  ul[data-list-id="guildsnav"] > div[class^="itemsContainer_"] {
    margin-top: 8px;
  }
}
