.visual-refresh {
  --custom-app-top-bar-height: 0 !important;

  div.base_c48ade {
    & > div.bar_c38106 {
      display: none;
    }
  }

  ul[data-list-id="guildsnav"] > div[class^="itemsContainer_"] {
    margin-top: var(--vr-header-snippet-server-padding);
  }
}
